* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  color: #333;
}

ul, ol {
  padding-left: 40px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: ivory;
}

.container {
  width: 95%;
  max-width: 950px;
  margin: 0px auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}
.evenly {
  justify-content: space-evenly;
}